[build]
  command = "npm run build"
  publish = "out"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

[dev]
  command = "npm run dev"
  port = 3000

[context.production]
  environment = { NODE_VERSION = "20" }

[context.deploy-preview]
  environment = { NODE_VERSION = "20" }
