/* ---------- 1. Global Reset and Base Styles ---------- */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.7;
	background-color: #f0f0f0;
	color: #333;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	transition: background-color 0.3s ease;
	opacity: 0;
	transition: opacity 0.5s ease;
	margin: 0;
	position: relative;
}

body.loaded {
	opacity: 1;
}

/* ---------- 2. Dark Mode Styles ---------- */
body.dark-mode {
	background-color: #222222f1 !important;
	color: #eee;
}

body.dark-mode .splash-header h1,
body.dark-mode .splash-header p {
	color: #eee;
}

body.dark-mode .button {
	color: #eee;
	border: 2px solid #eee;
}

body.dark-mode .button:hover {
	background-color: #eee2;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
}

body.dark-mode .card {
	background-color: #222;
	color: #eee;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
	border: 1px solid #444;
}

body.dark-mode .card a {
	color: #ccc;
}

body.dark-mode .nav-home {
	color: #eee;
}

body.dark-mode .nav-list .nav-item {
	color: #999;
}

body.dark-mode .nav-list .nav-item.active {
	color: #eee;
}

body.dark-mode .main-nav {
	background: #1a1a1a;
	box-shadow: 2px 0 5px rgba(255, 255, 255, 0.05);
}
body.dark-mode .main-nav {
	background-color: #1a1a1a;
}

body.dark-mode .contact-link {
	color: #eee;
}

body.dark-mode .contact-link i {
	color: #eee;
}

body.dark-mode .card-line {
	background-image: linear-gradient(to right, transparent, #666, transparent);
}
body.dark-mode .nav-list .nav-item::before {
	background-image: linear-gradient(to right, #565656, transparent);
}
body.dark-mode .card-nav {
	color: #777;
}
body.dark-mode .card-nav:hover {
	color: #ccc;
}
body.dark-mode .card-nav i {
	color: #777;
}
body.dark-mode .card-nav:hover i {
	color: #ccc;
}
body.dark-mode .cv-image {
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
	border: 1px solid #333;
}
/* ---------- 3. Splash Screen Styles ---------- */
.splash-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
	z-index: 3;
	transition: opacity 0.5s ease;
}

.splash-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 0.3s ease;
	z-index: 1;
}
body.dark-mode .splash-container::before {
	background-color: rgba(0, 0, 0, 0.2);
}
.splash-header {
	text-align: center;
	position: relative;
	z-index: 2;
	color: #333;
	padding: 0 1em;
	max-width: 800px;
	width: 100%;
	max-height: 90vh;
}

.splash-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.splash-header h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4rem;
	margin-bottom: 0.3rem;
	font-weight: 700;
	letter-spacing: -1.5px;
	text-transform: none;
	transition: transform 0.5s ease;
}
.splash-header h1 span {
	display: inline-block;
	transition: transform 0.3s ease, opacity 0.3s ease;
	opacity: 0;
	transform: translateY(20px);
}
.splash-header p {
	font-size: 1.4rem;
	margin-bottom: 2em;
	font-weight: 300;
	letter-spacing: 0.5px;
	transition: transform 0.5s ease, opacity 0.5s ease;
	opacity: 0;
	transform: translateY(30px);
}
.button {
	background-color: transparent;
	color: #333;
	border: 2px solid #333;
	padding: 1em 2em;
	border-radius: 5px;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
	font-weight: 500;
}

.button:hover {
	background-color: rgb(228, 228, 228);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* ---------- 4. Main Content Styles ---------- */
.content-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	overflow-y: auto;
	transition: all 0.5s ease;
	transform: translateY(100%);
	opacity: 0;
	background: transparent;
}

.content-cards {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 75vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* ---------- 5. Card Styles ---------- */
.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
	padding: 2em;
	margin-bottom: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translateY(20px) scale(0.9);
	overflow: auto;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	border: 1px solid #eee;
	background: #fff;
	color: #333;
	max-height: 100%;
	pointer-events: none;
	width: 70%;
}

.card--active {
	opacity: 1;
	transform: translate(-50%, -50%) translateY(0) scale(1);
	pointer-events: auto;
}

.card-content {
	line-height: 1.8;
	padding-bottom: 0.7em;
}

.card-content p {
	line-height: 2.2;
	margin-bottom: 1.2em;
}
.card-title {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
	flex-direction: column;
}

.card h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-align: center;
	margin-bottom: 0.3em;
}

.card-line {
	width: 60%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, #c0c0c0, transparent);
	margin-bottom: 0.7em;
	border-radius: 50%;
}

.card a {
	color: #555;
}
.card-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 4em;
	height: 100%;
	color: #b9b9b9 !important;
	text-decoration: none;
	font-size: 1.3em;
	z-index: 1;
	transition: color 0.3s ease, transform 0.3s ease;
}

.card-nav:hover {
	color: #777 !important;
	transform: scale(1.1);
}

.card-nav--prev {
	left: 0;
	justify-content: flex-start;
}
.card-nav--next {
	right: 0;
	justify-content: flex-end;
}
.card-nav i {
	transition: color 0.3s ease;
}
/* ---------- 6. Navigation Styles ---------- */
.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	z-index: 2;
	background: #f0f0f0;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

.nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.nav-list .nav-item {
	padding: 0.5em;
	cursor: pointer;
	font-size: 1.1rem;
	color: #999;
	transition: color 0.3s ease, transform 0.3s ease;
	border-bottom: none;
	text-align: left;
	position: relative;
	overflow: hidden;
	transform: translateY(0);
}

.nav-list .nav-item::before {
	content: '';
	position: absolute;
	left: 0;
	right: 5%;
	bottom: 0;
	height: 2px;
	background: linear-gradient(to right, #c0c0c0, transparent 80%);
	transform: translateX(-100%);
	transition: transform 0.3s ease, opacity 0.3s ease;
	opacity: 0;
}

.nav-list .nav-item:hover::before {
	transform: translateX(0);
	opacity: 1;
}

.nav-list .nav-item:hover {
	color: #555;
	transform: translateY(-2px);
}

.nav-list .nav-item.active {
	color: #333;
}

.nav-list .nav-item.active::before {
	transform: translateX(0);
	opacity: 1;
}

.nav-list .nav-item.active,
.nav-list .nav-item:hover {
	color: #555;
}

.nav-home {
	font-size: 6rem;
	font-weight: 500;
	font-family: 'Playfair Display', serif;
	color: #333333;
	text-decoration: none;
	position: absolute;
	top: 0;
	transition: color 0.3s ease;
	display: inline-block;
	padding: 30px;
}

.nav-home:hover {
	color: #999;
}

/* ---------- 7. Contact Links Styles ---------- */
.contact-links {
	display: flex;
	justify-content: center;
	gap: 1.5em;
	margin-top: 1em;
}

.contact-link {
	font-size: 2em;
	color: #555;
	transition: color 0.3s ease, transform 0.3s ease;
	text-decoration: none;
	padding: 0.2em;
	border-radius: 5px;
	display: inline-flex;
}

.contact-link:hover {
	color: #333;
	transform: scale(1.1);
}

.contact-link:hover i {
	color: #999;
}

.contact-link i {
	color: #555;
	transition: color 0.3s ease;
}
/* ---------- 8. CV Styles ---------- */
.cv-container {
	display: flex;
	justify-content: center;
	margin: 1em 0;
}

.cv-image {
	max-width: 300px;
	height: auto;
	border-radius: 8px;
	transition: transform 0.3s ease;
	display: block;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.cv-link:hover .cv-image {
	transform: scale(1.05);
}
.cv-link {
	text-decoration: none;
	display: inline-block;
}

/* ----------  Project Styles  ---------- */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    margin-top: 1em;
}

.project-item {
    display: block;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;

}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.03);
}
.project-item:hover img {
      transform: scale(1.05)  brightness(0.4);
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover .project-overlay {
    opacity: 1;
}

.project-title {
    font-size: 1.6em;
    font-weight: 600;
    color: #fff;
    text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
/* ---------- 9. Footer Styles ---------- */
.main-footer {
	text-align: center;
	padding: 1em 0;
	background-color: #515151;
	color: #ffffff;
	font-size: 0.9em;
	border-top: 1px solid #040404;
	opacity: 0;
	transition: opacity 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	position: relative;
}

.main-footer.show {
	opacity: 1;
}
/* ---------- 10. Dark Mode Toggle Styles ---------- */
.dark-mode-toggle {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.3em;
	color: #fff;
	transition: transform 0.3s ease;
}

.dark-mode-toggle:hover {
	transform: scale(1.1);
}
/* ---------- 11. Scrollbar Styles ---------- */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #888;
}
body.dark-mode ::-webkit-scrollbar-thumb {
	background-color: #666;
}
body.dark-mode ::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}
* {
	scrollbar-width: thin;
	scrollbar-color: #aaa transparent;
}
body.dark-mode * {
	scrollbar-color: #666 transparent;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}
body.dark-mode *::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}
/* ---------- 12. Media Queries - Responsive Design ---------- */
@media (max-width: 576px) {
	.main-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		background-color: #f0f0f0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	}
	.nav-list {
		flex-direction: row;
		align-items: flex-start;
		margin-left: 0;
	}
	.nav-home {
		display: block;
		position: absolute;
		top: 45%;
		right: 0.8em;
		transform: translateY(-50%) scale(0.5);
		margin-right: -80px;
		padding: 15px;
	}

	.nav-list .nav-item {
		padding: 0.5em 0.8em;
		border-bottom: none;
		font-size: 1rem;
	}

	.content-cards {
		height: auto;
		margin-top: 5em;
	}
	.card {
		max-width: 95%;
		width: 90%;
		min-height: 50vh;
		box-sizing: border-box;
		padding: 1em;
	}

	.card-title {
		margin-bottom: 0.5em;
	}

	.card-line {
		margin-bottom: 0.5em;
		width: 50%;
	}

	.nav-list .nav-item::before {
		right: 0;
		left: 0;
		transform: translateY(0);
		background-image: linear-gradient(to right, transparent, #c0c0c0, transparent);
	}
	body.dark-mode .nav-list .nav-item::before {
		background-image: linear-gradient(to right, transparent, #565656, transparent);
	}

	.nav-list .nav-item:hover::before {
		transform: scaleX(1);
	}

	.nav-list .nav-item.active::before {
		transform: scaleX(1);
		opacity: 1;
	}
	.content-container {
		padding: 0;
	}
}/* ---------- 12. Media Queries - Responsive Design ---------- */
@media (max-width: 576px) {
  .splash-header h1 {
    font-size: 3rem;
    letter-spacing: -0.5px;
  }
    .main-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		background-color: #f0f0f0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 1em;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	}
  .nav-list {
		flex-direction: row;
		align-items: flex-start;
		margin-left: 0;
	}
	.nav-home {
		display: block;
		position: absolute;
		top: 45%;
		right: 0.8em;
		transform: translateY(-50%) scale(0.5);
		margin-right: -80px;
		padding: 15px;
	}
  .nav-list .nav-item {
		padding: 0.5em 0.8em;
		border-bottom: none;
		font-size: 1rem;
	}

    .content-container {
      padding: 0;
      align-items: flex-start;
    }

	.content-cards {
        height: calc(100vh - 4em); /* Fill viewport height minus nav height */
        margin-top: 4em;
		display: flex;
        flex-direction: column;
        align-items: center;
		justify-content: center;
        padding-bottom: 1em;
    }

    .card {
		max-width: 95%;
        width: 90%;
		min-height: auto; /* Allow card to take it's own height */
		box-sizing: border-box;
		padding: 1em;
        margin: 1em 0;
    }

    .card-title {
		margin-bottom: 0.5em;
	}

	.card-line {
		margin-bottom: 0.5em;
		width: 50%;
	}

  .nav-list .nav-item::before {
		right: 0;
		left: 0;
		transform: translateY(0);
		background-image: linear-gradient(to right, transparent, #c0c0c0, transparent);
	}
	body.dark-mode .nav-list .nav-item::before {
		background-image: linear-gradient(to right, transparent, #565656, transparent);
	}
   .nav-list .nav-item:hover::before {
		transform: scaleX(1);
	}
    .nav-list .nav-item.active::before {
		transform: scaleX(1);
		opacity: 1;
	}

}

/* ---------- 13. Utility Classes (Hidden/Show) ---------- */
.hidden {
	display: none;
}

.show {
	opacity: 1;
	transform: translateY(0);
	display: flex !important;
}
